/*general styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colored-p{
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(to right, rgb(45, 42, 29) 15%, rgb(104, 94, 53) 32%, rgb(125, 111, 60) 56%, rgba(194, 171, 89, 0.962) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2{
    font-size: 32px; 
    font-weight: bold;
    color: rgb(73, 67, 42);
 }
section{
    padding: 70px 0;
}

/*section 1*/
.sec1, .sec2 .container, .sec5 .container{
    text-align: center;
}
.sec2, .sec4{
    background-color: rgba(141, 141, 106, 0.553);
}

.sec1-icon{
    width: 40px;
    height: 40px;
    color: rgb(188, 188, 147);
}
.sec1 .card{
    height: 250px;
    padding-top: 20px;
}
.sec1 .container .row .card:hover{
     
    background: linear-gradient(0deg,  rgba(96,87,54,0.9139005944174545) 25%, rgba(236,205,88,0) 91%);
    transform: scale(1.1);
    transition-duration: 0.5s;    
}
.card{
    margin: 10px;
    padding: 0;
    border-radius: 20px;
}


.p-link{
    padding: 0;
    margin: 5px;
}
.p-link img{
    width: 100%;
}

/*section2 styles*/
.sec2 img{
    opacity: 0.6;
    border-radius: 20px;
}
.sec2-card-content{
    padding-top: 90%;
    color: white;
    text-align: left;
    border:3px solid rgb(42, 42, 40);
    border-radius: 20px;
    
}
.sec2-card-button{
    width: 100px;
    height: 50px;
    background-color: rgb(83, 77, 60);
    border: 2px solid rgb(201, 191, 153);
    border-radius: 30px;
    color: rgb(201, 191, 153);
    font-weight: bold;   
}
.sec2 .card:hover .sec2-card-button{
    background-color: rgb(200, 200, 160);
    border: 3px solid rgb(83, 77, 60);
    border-radius: 30px;
    color: rgb(83, 77, 60);
}

.sec2 .card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s; 
}

.sec2-card-content:hover{
    background: linear-gradient(0deg, rgba(96,87,54,0.9139005944174545) 25%, rgba(236,205,88,0) 91%);
}

.sec-2-last-button{
    margin-top: 30px;
    width: 250px;
    height: 70px;
    background-color: rgb(42, 42, 40);
    border: 3px solid rgb(200, 200, 160);
    border-radius: 30px;
    color: rgb(200, 200, 160);
    font: bold 20px sans-serif;
}
.sec-2-last-button:hover{
    background-color: rgb(200, 200, 160);
    border: 3px solid rgb(83, 77, 60);
    border-radius: 30px;
    color: rgb(83, 77, 60);
    font: bold 20px sans-serif;
}


/*section3 styles*/
.sec3 img{
    height: 90%;
    border:6px solid rgb(42, 42, 40);
    border-radius: 20px;  
}
.sec3 .nav-link{  
    border-radius: 20px; 
}
.sec3-nav{
    color: black;
}
.sec3-nav:hover{
    color: white;
}
.nav-item{
    margin: 5px;
}
.sec3 .active{
    color: white;
    border: 2px solid rgb(141, 130, 102);
    border-radius: 30px;
    background: rgb(42, 42, 40);
}
.sec3 .tab-pane{
    padding: 20px;
}
/*section 4*/

.sec4 img{
    border-radius: 15px; 
}
.sec4 .nav-link{  
    background: rgb(42, 42, 40);
    border: 5px solid rgb(42, 42, 40);
    border-radius: 20px; 
}
.sec4 .active{
    background: rgb(42, 42, 40);
    border-radius: 20px;
    color: white;
}

.sec4 .tab-pane{
    padding: 20px;
}
.sec4-colored-p{
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to right, rgba(80,73,46,1) 15%, rgba(130,116,62,1) 32%, rgba(173,152,73,1) 56%, rgba(236,205,88,0.9615196420365021) 80%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* section 5*/
.sec5 .card{
    height: 100%;
}
.sec5 img{
    opacity: 0.6;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.sec5-card-content{
    padding-top: 90%;  
    color: white;
    text-align: left;
    border:3px solid rgb(42, 42, 40);
    border-radius: 20px;  
}
.sec5-card-button{
    width: 100px;
    height: 50px;
    background-color: rgb(83, 77, 60);
    border: 2px solid rgb(201, 191, 153);
    border-radius: 30px;
    color: rgb(201, 191, 153);  
    font-weight: bold; 
}
.sec5 .card:hover .sec5-card-button{
    background-color: rgb(200, 200, 160);
    border: 3px solid rgb(83, 77, 60);
    border-radius: 30px;
    color: rgb(83, 77, 60);
    
}

.sec5 .card:hover {
    transform: scale(1.1);
    transition-duration: 0.5s; 
}

.sec5-card-content:hover{
    background: linear-gradient(0deg, rgba(96,87,54,0.9139005944174545) 25%, rgba(236,205,88,0) 91%);
}



